{% extends 'lessons/header.html' %}
{% load static %}

{% block content %}
<div class="t502">
	<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Чому варто обрати нас?</div>
			</div>
		</div>
	</div>
	<div class="t-container aboutSc">
		<div class="t502__col t-col t-col_6 t-align_left t-item sk1">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">1</div>
				</div>
				<div class="t502__textwrapper ">
					<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976310929">
						<div style="font-size:24px;" data-customstyle="yes">Вчителя студенти</div>
					</div>
					<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976310929">
						<div style="font-size:20px;" data-customstyle="yes">Ми нещодавно закінчили школу і склали зно на 190+, тому ми точно знаємо як допомогти вашій дитині з математикою.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk2">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">2</div>
				</div>
				<div class="t502__textwrapper">
					<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976315081">
						<div style="font-size:24px;" data-customstyle="yes">Особистісний підхід</div>
					</div>
					<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976315081">
						<div style="font-size:20px;" data-customstyle="yes">Намагаємося пояснювати весь матеріал за допомогою візуалізації. Адже дріб 2/3 буде легше зрозуміти через торт, який розрізали на 3 частини і взяли з 3 частин 2.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t-clear t502__separator" style=""></div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk3">
			<div class="gridTavle"><div class="t502__circlewrapper">
				<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">3</div>
			</div>
				<div class="t502__textwrapper">
					<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976330452">
						<div style="font-size:24px;" data-customstyle="yes">Комфорт при навчанні</div>
					</div>
					<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976330452">
						<div style="font-size:20px;" data-customstyle="yes">Для нас важливо дати учням максимум знань,
							а не залякати іспитом.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk4">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">4</div>
				</div><div class="t502__textwrapper">
				<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976334035">
					<div style="font-size:24px;" data-customstyle="yes">Вибір вчителя</div>
				</div>
				<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976334035">
					<div style="font-size:20px;" data-customstyle="yes">Ви можете вибрати вчителя, з яким учневі найбільше подобається займатися.</div>
				</div>
			</div>
			</div>
		</div>
		<div class="t-clear t502__separator" style=""></div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk5">
			<div class="gridTavle"><div class="t502__circlewrapper">
				<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">5</div>
			</div><div class="t502__textwrapper">
				<div class="t502__title t-name t-name_sm" style=" " field="li_title__1618826157444">
					<div style="font-size:24px;" data-customstyle="yes">Гнучкий графік</div></div>
				<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1618826157444">
					<div style="font-size:20px;" data-customstyle="yes">Ви можете вибрати будь-який час, який вас влаштовує.</div>
				</div>
			</div>
			</div>
		</div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk6">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">6</div>
				</div><div class="t502__textwrapper">
				<div class="t502__title t-name t-name_sm" style=" " field="li_title__1618826395251">
					<div style="font-size:24px;" data-customstyle="yes">У нас нешаблонне мислення</div>
				</div>
				<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1618826395251">
					<div style="font-size:20px;" data-customstyle="yes">Ми підемо далі шкільної програми і вийдемо за рамки. І тоді ваша дитина зрозуміє будь-які завдання з ЗНО.</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<style>
	.t-container-2{
	background-image: linear-gradient(to top, rgba(64,26,0,0.80),rgba(6,17,31,0.80)),url({% static "images/flex1.png" %});
	background-repeat: no-repeat;
	background-size: cover;

}
</style>
<a class="button button_color popuper " id="aboutButton" href="{% url 'test' %}" > Пройти тестування
</a>
<div class="t-container-2" >
	<div class="t-cover__wrapper t-valign_middle" style="height:650px;">
		<div class="t032"> <div class="t032__wrapper" data-hook-content="covercontent">
			<div class="t032__title t-title t-title_md" style="font-size:42px;" field="title">
				<div style="font-size:52px;" data-customstyle="yes">Про онлайн школу</div>
			</div> <div class="t-row">
			<div class="t-col t-col_2 t-prefix_5">
				<div class="t032__line" style="">

				</div>
			</div>
		</div>
			<div class="t-row">
				<div class="t-col t-col_10 t-prefix_1">
					<div class="t032__descr t-descr t-descr_lg" style="" field="descr">
						<div style="font-size:22px; color:white;" data-customstyle="yes">Наша команда - це молоді, успішні студенти,
							які склали ЗНО на 190+ і вчаться зараз у кращих вузах України. Ми знаємо, як ефективно
							працювати в умовах сучасності, та розуміємо , що треба виходити за межі шкільної програми
							і як прокачати мозок вашої дитини. Адже це не секрет, що математичний склад розуму можно
							розвити.<br>Ми зможемо покращити знання дитини з будь-якого віку або візьмемо з нуля. Бо як
							каже народна мудрість : «Без шліфування і алмаз не блищить». Ми знаємо підводні камені
							ЗНО і чітко розуміємо , як їх долати. Ми не збираємося розповідати страшилки шкільних
							вчителів про ЗНО, бо ми на одній хвилі з вашими діточками.<br><strong><h4 class="st">Тож ми чекаємо на
								вас і гарантуємо результат!</h4></strong>
							<strong></strong><strong></strong><strong></strong><br>
						</div>
					</div>
				</div>
			</div>
			<span class="space"></span>
		</div>
		</div>
	</div>
</div>



{% endblock %}
