{% extends 'lessons/header.html' %}
{% load static %}

{% block content %}
<div class="t502">
	<div class="t-section__container t-container">
		<div class="t-col t-col_12">
			<div class="t-section__topwrapper t-align_center">
				<div class="t-section__title t-title t-title_xs" field="btitle">Чому варто обрати нас?</div>
			</div>
		</div>
	</div>
	<div class="t-container aboutSc">
		<div class="t502__col t-col t-col_6 t-align_left t-item sk1">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">1</div>
				</div>
				<div class="t502__textwrapper ">
					<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976310929">
						<div style="font-size:24px;" data-customstyle="yes">Учителя студенты</div>
					</div>
					<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976310929">
						<div style="font-size:20px;" data-customstyle="yes">Мы недавно закончили школу и составили зно на 190+, поэтому мы точно знаем, как помочь вашему ребенку с математикой.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk2">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">2</div>
				</div>
				<div class="t502__textwrapper">
					<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976315081">
						<div style="font-size:24px;" data-customstyle="yes">Особистісний підхід</div>
					</div>
					<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976315081">
						<div style="font-size:20px;" data-customstyle="yes">Стараемся разъяснять весь материал с помощью визуализации. Ведь дробь 2/3 будет легче понять через торт, разрезанный на 3 части и взятый из 3 частей 2.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t-clear t502__separator" style=""></div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk3">
			<div class="gridTavle"><div class="t502__circlewrapper">
				<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">3</div>
			</div>
				<div class="t502__textwrapper">
					<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976330452">
						<div style="font-size:24px;" data-customstyle="yes">Комфорт при обучении</div>
					</div>
					<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976330452">
						<div style="font-size:20px;" data-customstyle="yes">Для нас важно дать учащимся максимум знаний, а не запугать экзаменом.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk4">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">4</div>
				</div><div class="t502__textwrapper">
				<div class="t502__title t-name t-name_sm" style=" " field="li_title__1476976334035">
					<div style="font-size:24px;" data-customstyle="yes">Выбор учителя</div>
				</div>
				<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1476976334035">
					<div style="font-size:20px;" data-customstyle="yes">Вы можете выбрать учителя, с которым ученику больше всего нравится заниматься.</div>
				</div>
			</div>
			</div>
		</div>
		<div class="t-clear t502__separator" style=""></div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk5">
			<div class="gridTavle"><div class="t502__circlewrapper">
				<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">5</div>
			</div><div class="t502__textwrapper">
				<div class="t502__title t-name t-name_sm" style=" " field="li_title__1618826157444">
					<div style="font-size:24px;" data-customstyle="yes">Гибкий график</div></div>
				<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1618826157444">
					<div style="font-size:20px;" data-customstyle="yes">Вы можете выбрать любое время, которое вас устраивает.</div>
				</div>
			</div>
			</div>
		</div>
		<div class="t502__col t-col t-col_6 t-align_left t-item sk6">
			<div class="gridTavle">
				<div class="t502__circlewrapper">
					<div class="t502__circle t-title" style="background-color:#eb633d; color:#ffffff;">6</div>
				</div><div class="t502__textwrapper">
				<div class="t502__title t-name t-name_sm" style=" " field="li_title__1618826395251">
					<div style="font-size:24px;" data-customstyle="yes">У нас нешаблонне мышление</div>
				</div>
				<div class="t502__blockdescr t-descr t-descr_xs" style="" field="li_descr__1618826395251">
					<div style="font-size:20px;" data-customstyle="yes">Мы пойдем дальше школьной программы и выйдем за рамки. И тогда ваш ребенок поймет любые задания по ЗНО.</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<style>
	.t-container-2{
	background-image: linear-gradient(to top, rgba(64,26,0,0.80),rgba(6,17,31,0.80)),url({% static "images/flex1.png" %});
	background-repeat: no-repeat;
	background-size: cover;

}
</style>
<a class="button button_color popuper " id="aboutButton" href="{% url 'test' %}" > Пройти тестування
</a>
<div class="t-container-2" >
	<div class="t-cover__wrapper t-valign_middle" style="height:650px;">
		<div class="t032"> <div class="t032__wrapper" data-hook-content="covercontent">
			<div class="t032__title t-title t-title_md" style="font-size:42px;" field="title">
				<div style="font-size:52px;" data-customstyle="yes">Про онлайн школу</div>
			</div> <div class="t-row">
			<div class="t-col t-col_2 t-prefix_5">
				<div class="t032__line" style="">

				</div>
			</div>
		</div>
			<div class="t-row">
				<div class="t-col t-col_10 t-prefix_1">
					<div class="t032__descr t-descr t-descr_lg" style="" field="descr">
						<div style="font-size:22px; color:white;" data-customstyle="yes">Наша команда - це молоді, успішні студенти,
                            які склали ЗНО на 190+ і навчатимуться зараз у найкращих вузах України. Ми знаємо, як ефективно
                            працювати в умовах сучасності, та розуміємо , що треба виходити за межі шкільної програми
                            і як прокачати мозок вашої дитини. Адже це не секрет, що математичний склад розуму можна
                            розвити.<br>Ми зможемо покращити знання дитини з будь-якого віку або візьмемо з нуля. Бо як
                            каже народна мудрість: «Без шліфування і алмаз не блищати». Ми знаємо підводні камені
                            ЗНО і чітко розуміємо, як їх долати. Ми не збираємося розповідати страшилки шкільних
                            вчителів про ЗНО, бо ми на одній хвилі з вашими діточками.<br><strong><h4>
                            вас і гарантуємо результат!</h4></strong>
							<strong></strong><strong></strong><strong></strong><br>
						</div>
					</div>
				</div>
			</div>
			<span class="space"></span>
		</div>
		</div>
	</div>
</div>



{% endblock %}
