{% extends 'lessons/header.html' %}
{% load static %}

{% block content %}

   {% if submitted %}
      <p>Форма успешно заполнена!</p>
   {% else %}
        <style>
            label.input.error::after{
	           display: block;
	           background: url({% static "lessons/images/alert.svg" %}) center center no-repeat;
            }
            label.input.success::after{
	           display: block;
	           background: url({% static "lessons/images/success.svg" %}) center center no-repeat;
            }
        </style>
        <div class="popup-block">
        <div class="popup-img"> <img src="{% static "lessons/images/flex1.png" %}" alt="My image"></div>
        <div class="popup-title">Прієднуйтесь до нас!</div>
    <form action="" method=POST>
        {% csrf_token %}
         <label class="input input_name">
                {{ form.name }}
            </label>
            <label class="input input_phone">
                {{ form.phone_number }}
            </label>
            <label class="input input_mail">
                {{ form.emeil }}
            </label>
            <label class="input input_expirience">
                {{ form.experience }}
            </label>
            <label class="input input__sity">
                {{ form.sity }}
            </label>
            <input type="submit" value="Отправить" class="button button_color popup-button">
            </form>
            </div>
    {% endif %}
    <div class="popup-title map">Где мы находимся?</div>
    <div id="map"></div>

{% endblock %}
