{% extends 'lessons/header.html' %}
{% load static %}

{% block content %}

   {% if submitted %}
      <p>Данные отправлены!</p>
   {% else %}
  <div class = "teacher">
    <form action="" method=POST>
        {% csrf_token %}
         <label>
                {{ form.nameOfTeacher }}
            </label>
            <label>
                {{ form.nameOfStudent }}
            </label>
            <label>
                {{ form.emeilOfTeacher }}
            </label>
            <label>
                {{ form.cost }}
            </label>
            <label>
                {{ form.numOfLessons }}
            </label>
            <input type="submit" value="Отправить">
            </form>
            </div>

    {% endif %}


{% endblock %}