{% load static %}
{% load lessons_tags %}
<html>
<head>
 	<link type="text/css" href="{% static 'lessons/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'lessons/images/logo.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" href="{% static 'lessons/css/calculators.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'lessons/css/test.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'lessons/css/form.css' %}" rel="stylesheet" />
	<link rel="shortcut" href="{% static 'lessons/images/flex1.png' %}" type="image/x-icon"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
   
</head>

<body>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
				<li><a href="/quizes">Тесты</a></li>
				{% if request.user.is_authenticated %}
				<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
				{% else %}
				<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Все темы</li>
{% else %}
		<li><a href="{% url 'home' %}">Все темы</a></li>
{% endif %}

{% for c in cats %}
{% if c.lessons__count > 0 %}
	{% if c.pk == cat_selected %}
		<li class="selected">{{c.name}}</li>
	{% else %}
		<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
	{% endif %}
{% endif %}
{% endfor %}

	</ul>
</td>

<td valign="top" class="content">
	{% block breadcrumbs %}
	{% endblock %}
  {% block sidebar %}{% endblock %}
  {% block content %}{% endblock %}
</td>
</tr>
</table>
      <div class="footer-social-links">
        <p class="gps"><img class="gps-logo" src="{% static "lessons/images/gps-logo.png" %}" >01001 Киев, КПИ, ФИОТ</p>
        <button class="icons et-icon-facebook"><img class="facebook-logo" src="{% static "lessons/images/facebook-icon.png" %}"></button>
        <button class="icons et-icon-instagram"><img class="instagram-logo" src="{% static "lessons/images/instagram-icon.png" %}"</button>
      </div>
<script src="{% static 'lessons/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'lessons/js/test.js' %}"></script>
<script src="{% static 'lessons/js/calculators.js' %}"></script>
<script src="{% static 'lessons/js/validation.js' %}"></script>
<script src="{% static 'lessons/js/footer.js' %}"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

</body>
</html>